#!/bin/bash
#DB
export DATABASE_HOST="ServerName/ServerIP"
export DATABASE_PASSWORD="DbPassWord"
export DATABASE_USER="DbUserName"
export DATABASE_NAME="DbName"

#Calendar
export calendar_id="GoogleCalendarId"
export calendar_url="https://int.soccerway.com/teams/israel/maccabi-haifa-fc/1203/" #URL Of maccabi haifa games